p      				{color: #424242;}		
h1, h2 				{color: #800000;}
h1					{font-size: 30px; border-bottom: 1px solid #339966; text-transform: uppercase; letter-spacing: 8px;}
h2					{font-size: 26px; font-style: oblique; font-weight: bold; }
body					{color: #424242; background-color: #F5F5DC; font-family: Comic Sans; text-align: center; text-decoration: italic;}
a:link				{color:#800000; font-weight: bold; text-decoration: none;}
a:visited			{font-weight: bold; color: #A52A2A;text-decoration: none;}
a:hover				{color: #ffffff; background-color: #ff6600; text-decoration: underline;}
a:active			{color: #ff9933;}
blockquote			{
	color: #0B610B;
	background-color: #D8F6CE; 
	text-align: center;
	height: 150px;
	width: 80%;
	border-radius: 10px; 
}
footer				{height: 150px;}
table					{background-color: #F5F6CE; color: #013ADF; height: 250px; width: 550px; text-align: center;}
table.tab1			{background-color: #0B0B3B; color: #EFF2FB; height: 100px; width: 550px; font-size:30px ; text-align: center;}
aside {
	width: 280px;
	float: right;
}

