<div class="card">
	<div class="card-header p-0">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tätigkeit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Anforderung-tab" data-toggle="tab" href="#Anforderung" role="tab" aria-controls="Anforderung" aria-selected="false">Anforderung</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Ausblidung-tab" data-toggle="tab" href="#Ausblidung" role="tab" aria-controls="Ausblidung" aria-selected="false">Ausbildung</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				[nl2br]FIAE lernen Programme selbst zu entwickeln, zu testen und zu implementieren.
Darüber hinaus ist der FIAE in der Lage, die Datenverarbeitungstechnik für den Einsatz vorzubereiten, mit verschiedenen Betriebsystemen zu arbeiten, Computernetze zu entwerfen und lokale Netze zu fertigen, den PC für unterschiedliche Telekommunikationsaufgaben einzurichten und selbst Standardsoftware als Arbeitsmittel im Unternehmen zu nutzen.

Spezialisiert ist der FIAE auf die Softwwareentwicklung und -anpassung unter Nutzung verschiedener strukturierter und ojektorientierter Programmiersprachen. 
Er/sie setzt die Anforderungen verschiedener Unternehmungen und Wünsche von Kunden um, begleitet die Einführung der Software unter den konkreten gegebenen Bedingungen und führt Schulungen für die Nutzer durch.

Der Fachinformatiker in der Fachrichtung Anwendungsentwicklung, ist in einem weiten Spektrum einsetzbar und findet seinen Arbeitsplatz angefangen bei grossen Herstellern von Software, bis hin zu kleinen Unternehmen mit verschiedenster Spezialisierung.
Der FIAE analysiert und realisiert die Kundenwünsche durch Neuentwicklungen und / oder Anpassung bestehener Softwarelösungen, wartet und betreut diese auch nach Übergabe an den Kunden.
[/nl2br]
			</div>
			<div class="tab-pane fade" id="Anforderung" role="tabpanel" aria-labelledby="Anforderung-tab">
[nl2br]
Die Übersichten zeigen dir, welche Schulabschlüsse für diesen Beruf besonders oft oder weniger häufig in der Praxis vorkommen. Auch wenn dein Schulabschluss weniger oft vorkommt heißt das nicht, dass du keine Chancen hast. Versuche einen möglichst guten Abschluss zu machen und sammle frühzeitig Erfahrungen über Praktika.

Ausbildungsanfänger/innen - Anwendungsentwicklung 2011 (in %)
Hochschulreife &gt; 62%
mittlerer Bildungsabschluss &gt; 32%
sonstige &gt; 1% 
Hauptschulabschluss &gt; 3%
ohne Hauptschulabschluss &gt; 2% 

Ausbildungsanfänger/innen - Systemintegration 2011 (in %)
Hochschulreife &gt; 55%
mittlerer Bildungsabschluss &gt; 37%
sonstige &gt; 4% 
Hauptschulabschluss &gt; 3%
ohne Hauptschulabschluss &gt; 1% 

Quelle: BERUFENET, März 2013

Das solltest du mitbringen: 
<li>gute Noten in Mathe und Informatik</li><li>Interesse an technischen Zusammenhängen</li><li>Du kannst gut planen und organisieren.</li><li>Du hast Lust, mit anderen Menschen im Team zu arbeiten.</li><li>Du kannst Kunden und Kollegen deine Ideen verständlich machen.</li><li>Du stehst anderen gerne als Ansprechpartner/in zur Verfügung.</li><li>Du arbeitest gerne selbstständig und übernimmst Verantwortung.</li><li>Du hast jede Menge Geduld und kannst dich so richtig in eine Sache vertiefen.</li><li>Du kannst dich in Probleme und Wünsche anderer hineinversetzen und dir vorstellen, was sie brauchen.</li><li>Die Arbeit am Computer ist ok für dich, da du keine Probleme mit den Augen oder dem Rücken hast.</li><li>Dir macht es nichts aus, den ganzen Tag im Büro zu sitzen.</li>
[/nl2br]
			</div>
			<div class="tab-pane fade" id="Ausblidung" role="tabpanel" aria-labelledby="Ausblidung-tab">
[nl2br]
Lehrgangsgliederung/ -inhalte/ Lehrplan  (Stand 2007)
Folgender Lehrplan soll Ihnen einen Gesamteindruck vermitteln, was und welche Themen in der Ausbildung auf Sie zukommen oder können.
Die Reihenfolge ist von Ausbildungsbetrieb und Bundesland unterschiedlich und soll hier keine Gewichtung darstellen.

Betrieb und Geschäftsprozesse
<li>Allgemeine Wirtschaftslehre</li><li>Rechtskunde</li><li>Sozialkunde</li><li>Spezielle Wirtschaftslehre für Fachinformatiker
Fachenglisch</li><li>The Language of Electric Data Processing</li><li>The Language of Commercial Correspondence
Kommunikation und Präsentation</li><li>Kommunikationstraining und Berufsspezifische Sprachbehandlungen</li><li>Berufsorientierung unf Bewerbungstraining
Betriebliches Rechnungswesen für Fachinformatiker</li><li>Kosten- und Leistungsrechung</li><li>Grundlagen Wirtschaftsmathematik</li><li>Mathematik für Informatiker
Einfache IT_Systeme</li><li>Grundlagen der Datenverarbeitung</li><li>Elektrotechnische Grundkenntnisse</li><li>Hardwareaufbau von PC - Systemen</li><li>Nutzung des Betriebssystem Windows 
Geschäftsprozesse und Standardsoftware</li><li>Schriftverkehr und Produktdokumentation mit MS Word</li><li>Betriebswirtschaft mit MS Excel</li><li>Produktverwaltung sowie Vertrieb und Marketing mit MS Access</li><li>Produktpräsentation mit MS Powerpoint 
Vernetzte IT_Systeme</li><li>Netzwerkgrundlagen</li><li>Telekommunikationssysteme</li><li>Netzwerkbetriebssystem Windows Server 2000</li><li>Unix - Systeme / Linux 
Anwendungsentwicklung</li><li>Webseitengestaltung mit HTML</li><li>Grundlagen strukturierter und objektorientierter Programmierung (VB.net)</li><li>Grundlagen objektorientierter Programmierung (OOP) am Beispiel C++</li><li>Plattformunabhängige Programmierprinzipien am Beispiel Java2</li><li>Datenbankentwicklung und -anpassung</li><li>Projektmanagement und Projektierung von Anwendungssystemen</li><li>Softwareengineering und UML</li>
Fachpraktische Ausbildung</li><li>Informationstechnisches Fachpraktikum im IT Labor</li><li>Fachpraktische Ausbildung im Netzlabor</li><li>Ausbildung im Softwareentwicklungsbüro
Projektarbeit zu Aufgaben der Anwendungsetwicklung</li>

Fachspezifische Prüfungsvorbereitung

Betriebliches Praktikum

[/nl2br]
			</div>
		</div>
	</div>
	<div class="card-footer text-muted small">
		Quellen: <a href="https://berufenet.arbeitsagentur.de" target="_blank" class="text-info">berufenet.arbeitsagentur.de</a>, <a href="http://www.fiae.eu" target="_blank" class="text-info">fiae.eu</a>
	</div>
</div>