<div class="card">
	<div class="card-body">
	[nl2br]
[h]Zusatzqualifikationen[/h]Die Zusatzqualifikation &quot;Europaassistent/in&quot; eröffnet für Auszubildende mit einem mittleren Bildungsabschluss die Möglichkeit, interkulturelle Kompetenzen aufzubauen, Fremdsprachenkenntnisse zu verbessern und sich fachlich - über die Erstausbildung hinaus - zu bilden. Bestandteile der Zusatzqualifikation sind ein besonderer Berufsschulunterricht (z.B. Europäisches Waren- und Wirtschaftsrecht) und ein mehrwöchiges Praktikum im Ausland. Weitere Informationen erteilt z.B.:
<a href="https://europaassistent-de.prossl.de" target="_blank" class="text-info">europaassistent-de.prossl.de</a>
[/nl2br]
	</div>
</div>