<div class="card">
	<div class="card-body">
[nl2br]
[h]Fachinformatiker / Fachinformatikerin[/h]Eine Welt ohne Computer kann man sich heute kaum noch vorstellen. PC, Smartphone und Internet gehören längst genauso selbstverständlich zum Alltag wie Toaster, Fernseher und Kühlschrank. Freilich machen die neuen Technologien das Leben nicht immer einfacher. So stehen Unternehmen wie Privatanwender regelmäßig vor kniffligen Fragen: Wer plant, konfiguriert und wartet den Hardware-Gerätepark? Wer liefert die bedarfsgerechte Software? Hier kommen die Spezialisten ins Spiel. Fachinformatiker beschäftigen sich mit Programmen (Fachrichtung Anwendungsentwicklung) oder Netzen und Systemen (Fachrichtung Systemintegration).
		
<strong>Fachinformatiker...</strong>
		<ul><li>sind in Unternehmen verschiedenster Branchen tätig, meist aber in IT-Betrieben.</li><li>programmieren Software und entwickeln Benutzeroberflächen (Fachrichtung Anwendungsentwicklung</li><li>planen, installieren und analysieren IT-Systeme (Fachrichtung Systemintegration).</li><li>arbeiten meist an Computer-Arbeitsplätzen im Büro.</li><li>beraten Anwender, führen in- und externe Schulungen durch.</li><li>haben im Außendienst direkten Kundenkontakt.</li><li>arbeiten flexibel und serviceorientiert.</li></ul>
[/nl2br]
	</div>
</div>