<div class="card">
	<div class="card-header p-0">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tätigkeit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Anforderung-tab" data-toggle="tab" href="#Anforderung" role="tab" aria-controls="Anforderung" aria-selected="false">Anforderung</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Ausblidung-tab" data-toggle="tab" href="#Ausblidung" role="tab" aria-controls="Ausblidung" aria-selected="false">Ausbildung</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
[nl2br]
Fachinformatiker/innen der Fachrichtung Systemintegration planen und konfigurieren IT-Systeme. Als Dienstleister im eigenen Haus oder beim Kunden richten sie diese Systeme entsprechend den Kundenanforderungen ein und betreiben bzw. verwalten sie. Dazu gehört auch, dass sie bei auftretenden Störungen die Fehler systematisch und unter Einsatz von Experten- und Diagnosesystemen eingrenzen und beheben. Sie beraten interne und externe Anwender bei Auswahl und Einsatz der Geräte und lösen Anwendungs- und Systemprobleme. Daneben erstellen sie Systemdokumentationen und führen Schulungen für die Benutzer durch. 

[h]Beschreibung der Aufgaben und Tätigkeiten[/h]Worum geht es?
Fachinformatiker/innen der Fachrichtung Systemintegration realisieren kundenspezifische Informations- und Kommunikationslösungen. Hierfür vernetzen sie Hard 
- und Software 
komponenten zu komplexen Systemen. Daneben beraten und schulen sie Benutzer.

[h]Den richtigen Draht zum Netzwerk[/h]Bevor ein Netzwerk im Unternehmen oder beim Kunden eingerichtet werden kann, analysieren Fachinformatiker/innen die individuellen Bedürfnisse und Wünsche bezüglich der zu installierenden oder zu betreibenden IT-Infrastruktur. Dabei setzen sie ihre technischen, betriebswirtschaftlichen und organisatorischen Kenntnisse ein. Sobald sie sich ein genaues Bild von der erwarteten Leistungsfähigkeit des Netzwerks gemacht haben, planen sie die Umsetzung: Wie viele Rechnerarbeitsplätze sollen eingerichtet werden? Welcher Arbeitsplatz soll über einen eigenen Drucker verfügen? Sind drahtlose Internetzugänge geplant? Fachinformatiker/innen der Fachrichtung Systemintegration beachten hierbei nicht nur die momentanen Möglichkeiten der Netzwerke, sondern auch deren Erweiterbarkeit, etwa wenn sie die Verkabelung vorbereiten. Im Rahmen der fortschreitenden Digitalisierung der Industrie analysieren sie auch die Anforderungen an vernetzte Produktionsanlagen und erarbeiten passende Lösungskonzepte. Zudem beraten sie Kunden bei der Auswahl der geeigneten Hardware. Dazu müssen sie den aktuellen Markt kennen und stets über neue Produkte informiert sein. Sie werten daher die aktuelle Fachliteratur aus, die z.T. in englischer Sprache verfasst ist.

[h]Netzwerke installieren und konfigurieren[/h]Vor Ort richten sie das Netzwerk ein und vernetzen die Rechner mit Servern 
und Peripheriegeräten wie Faxgeräten und Druckern. Nach der Installation bzw. Konfiguration der Betriebssysteme führen sie Testläufe durch. Dabei kontrollieren sie beispielsweise, ob sie alle Drucker freigegeben haben oder ob die Kommunikation zwischen den Rechnern ohne Probleme verläuft. Abschließend erstellen sie eine Netzwerkbeschreibung sowie Arbeitsanweisungen, mit denen die Benutzer oder andere Netzwerkadministratoren das System bedienen und ggf. erweitern können. Das Netzwerk betreuen sie aber auch selbst, d.h., sie erweitern die Funktionen oder passen es an veränderte Softwarevoraussetzungen an. Dabei setzen sie immer häufiger Cloud-Computing 

Anwendungen ein. Cloud Computing umfasst eine On-Demand-IT-Infrastruktur, d.h. Betriebssysteme, Anwendungen und Speicherplatz stehen online zur Verfügung und können an die jeweiligen betrieblichen Erfordernisse angepasst werden. Auch für die Sicherheit von Netzwerken sind die Fachinformatiker/innen zuständig: Hard- und Softwarekomponenten müssen mit geeigneten Filter- und Antivirenprogrammen vor illegalen Zugriffen bewahrt, Daten sicher transferiert und geeignete Verschlüsselungstechniken angewendet werden. Darüber hinaus beheben sie auftretende Störungen, beispielsweise Serverprobleme. Vor Ort beraten sie Anwender und weisen sie in die Bedienung der Netzwerke ein. Dies kann individuell oder in Schulungen geschehen, die die Fachinformatiker/innen selbst planen, vorbereiten und durchführen.

[/nl2br]
			</div>
			<div class="tab-pane fade" id="Anforderung" role="tabpanel" aria-labelledby="Anforderung-tab">
[nl2br]
Angehende Fachinformatiker brauchen Informatikwissen, logisch-analytisches Denken, technisch-praktisches Verständnis und mathematische Sicherheit. Vorausgesetzt wird natürlich auch die obligatorische Sprachbeherrschung, und zwar in Deutsch und Englisch: Wer Bedienungshandbücher und Fachtexte studieren oder Support-Hotlines kontaktieren will, sollte die IT-Muttersprache sicher beherrschen.
Fachinformatiker für Anwendungsentwicklung und Fachinformatiker für Systemintegration sind anerkannte Ausbildungsberufe. Beide dualen Ausbildungen dauern jeweils drei Jahre und finden in der Regel im Lehrbetrieb und in der Berufsschule statt. Möglich ist aber auch eine schulische Ausbildung.

[h]Interesse an Software, Hardware und Co.[/h]<ul><li>Spaß an Mathe und Technik</li><li>Bereitschaft, viel im Sitzen zu arbeiten</li><li>Spaß am Erklären und zeigen</li><li>Geduld und Freundlichkeit</li><li>guter mündlicher Ausdruck</li><li>Organisationstalent</li><li>logisches Denken</li><li>Sorgfalt und Genauigkeit</li><li>Fähigkeit zu Teamwork und zu selbstständigem Arbeiten</li></ul>
[/nl2br]
			</div>
			<div class="tab-pane fade" id="Ausblidung" role="tabpanel" aria-labelledby="Ausblidung-tab">
[nl2br]
	[h]Ausbildungsinhalt[/h]<ul><li>wie man Betriebssysteme und deren Anwendungsbereiche unterscheidet und was man beim Anpassen und Konfigurieren beachten muss</li><li>worauf man beim Testen von Systemen achten muss</li><li>wie man Programmierlogik und -methoden anwendet</li><li>wie man Kunden informiert und berät und Anwendungslösungen kundengerecht dokumentiert</li><li>wie Ergebnisse der Betriebsabrechnung für Controllingzwecke ausgewertet werden</li><li>worauf man beim Entwerfen von Datenmodellen achten muss</li><li>wie Netzwerkarchitekturen voneinander unterschieden werden</li><li>wie man Hard- und Softwarekomponenten in bestehende Systeme einpasst und in Betrieb nimmt</li><li>wie Softwarearchitekturen in Netze integriert werden und wie Systeme unter Beachtung der Betriebsabläufe gesteuert werden</li><li>wie man Angriffsszenarien auf Netzwerke erkennt und bewertet und Systeme zur IT-Sicherheit implementiert</li><li>was man beim Einrichten von Bedienoberflächen und Benutzerdialogen beachten mussDarüber hinaus werden während der gesamten Ausbildung Kenntnisse über Themen wie Rechte und Pflichten während der Ausbildung, Organisation des Ausbildungsbetriebs und Umweltschutz vermittelt.</li></ul>
[h]In der Berufsschule erwirbt man weitere Kenntnisse:[/h]<ul><li>in berufsspezifischen Lernfeldern (z.B. einfache IT-Systeme, Entwickeln und Bereitstellen von Anwendungssystemen)</li><li>in allgemeinbildenden Fächern wie Deutsch und Wirtschafts- und Sozialkunde</li></ul>			
[h]Spezialisierung während der Ausbildung[/h]Die Ausbildung wird in einem Einsatzgebiet vertieft, je nach Ausbildungsbetrieb z.B.:
<ul><li>Rechenzentren</li><li>Netzwerke</li><li>Client-Server</li><li>Festnetze</li><li>Funknetze</li></ul>			
[/nl2br]
			</div>
		</div>
	</div>
	<div class="card-footer text-muted small">
		Quellen: <a href="https://berufenet.arbeitsagentur.de" target="_blank" class="text-info">berufenet.arbeitsagentur.de</a>, <a href="http://www.fiae.eu" target="_blank" class="text-info">fiae.eu</a>
	</div>
</div>