*   {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Verdana, sans-serif;
}
header {
    height: 100px;
    background-color: aliceblue;
    border-radius: 12px;
}
body {
    width: 800px;
    background-color: black;
    margin: 25px auto;
}
header h1 {
    font-family: Verdana;
    font-style: italic;
    padding-left: 5px;
    padding-top: 25px;
    color:greenyellow;
    font-size: 30pt;
    text-shadow: darkred 1px 1px 4px;
}
header h2 {
    font-family: Verdana;
    font-style: italic;
    color: white;
    font-size: 16pt;
    padding-left: 480px;
    text-shadow: red 1px 1px 4px;
}

nav ul {
    list-style-type: none;
    
}
nav li {
    display: inline;
    margin-right: 40px;
    background-color: aliceblue;
    padding: 4px;
    border: lightblue 4px outset;
    border-radius: 10px;
    font-weight: bold;
    cursor: default;
}
nav {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: darkred;
    text-shadow: black 1px 1px 2px;
}
nav li:hover {
    border: blue 4px inset;
}
nav a:hover {
    color: blueviolet;
    text-shadow: none;
}
section {
    width: 575px;
    float: left;
}
article {
    border: gray 5px outset;
    padding: 20px;
    text-align: left;
    margin-bottom: 25px;
    margin-right: 25px;
}
article h2 {
    font-size: 14px;
    color: greenyellow;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
article p {
    font-size: 12pt;
    color: lightyellow;
    padding-bottom: 10px;
}
article div {
    text-align: right;
}
article blockquote {
    font-weight: bold;
    font-style: italic;
    font-size: 10pt;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
}
video {
    width: 320px;
    height: 180px;
    border: gray 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}
aside p {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    color: aliceblue;
    text-align: center;
    
}
aside h3 {
    color: lightgreen;
    font-size: 16px;
    text-align: center;
}
aside a img {
    width: 60px;
}
aside img {
    border-radius: 5px;    
}
aside {
    margin-top: 100px;
    text-align: center;
    
}