html {
	height: 100%;
	box-sizing: border-box;
	max-width: 1000px;
	margin: 0 auto;
	font-family: Verdana;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	border: none;
	width: 100%
}
.text-lg {
	font-size: 22px;
}
.footer {
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}